<div>
    <mat-card class="cardClass">
        <mat-card-header>
            <mat-card-title>This is my simple mat-card example</mat-card-title>
            <mat-card-subtitle>Subtitle Message</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            This is my name and this is the name of the content of the game and there is every model to create it and to create it has happens daily to every time.
            {{msg}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="fun()">Click Here</button>
            
        </mat-card-actions>
    </mat-card>
</div>
